{% extends 'base/base_logeado.html' %}




{% block content %}
<br>
<center>

		<h1 class="titulo" style="color: white;">Detalles del usuario</h1>

	<div class="container">
		<form method="POST">
			{% csrf_token %}
			<h2 style="color: white;">Correo electronico: {{ form.email }}</h2>
			<h2 style="color: white;">Nombre de usuario: {{ form.username }}</h2>
			<h2 style="color: white;">Nombre: {{ form.first_name}}</h2>
			<h2 style="color: white;">Apellido: {{ form.last_name }}</h2>
			<h2 style="color: white;">Usuario activo: {{ form.is_active }}</h2>
			
			<h1 style="color: white;">Datos del contrato</h1>
			<h2 style="color: white;">Rut: {{ form2.rut_person }}</h2>
			<h2 style="color: white;">Telefono: {{ form2.phone_contrat }}</h2>
			<h2 style="color: white;">Fecha emision: {{ form2.emision_contrat }}</h2>
			<h2 style="color: white;">Fecha de termino: {{ form2.fin_contrat }}</h2>
			<h2 style="color: white;">Contrato aceptado: {{ form2.estado }}</h2>
			<h2 style="color: white;">Rol asignado: {{ form.tipo_usuario }}</h2>
			
			<br>
			<button type="submit">Guardar</button>
		</form>
	</div>

</center>
{% endblock %}




