{% extends 'base/base_logeado.html' %}




{% block content %}

<table class="table table-bordered" style="margin-left: 5%;margin-right: 5%; width: 90%;">
	<thead>
		<tr>
			<td style="color: white;"><center>Usuario</center></td>
			<td style="color: white;"><center>Nombre</center></td>
			<td style="color: white;"><center>Apellido</center></td>
			<td style="color: white;"><center>Rol</center></td>
			<td style="color: white;"><center>Contrato</center></td>
			<td style="color: white;"><center>Editar</center></td>
		</tr>
	</thead>

	<tbody>


<div align="center">
	<h1 style="color: white;"> LISTA DE USUARIOS </h1>
</div>

{% load static %}

		{% if usuarios %}
		{% for usuario in usuarios %}
			{% if usuario.is_staff %}

			{% else %}
		<tr>
			<td style="color: white;"><center>{{ usuario.username }}</center></td>
			<td style="color: white;"><center>{{ usuario.first_name }}</center></td>
			<td style="color: white;"><center>{{ usuario.last_name }}</center></td>


				{% if usuario.tipo_usuario == 'productor' %}
					<td style="color: white;"> 
						<center>
							<p>productor</p>
						</center>
					</td style="color: white;">
				{% else %}
					{% if usuario.tipo_usuario == 'interno' %}
						<td style="color: white;"> 
							<center>
								<p>Interno</p>
							</center>
						</td style="color: white;">
					{% else %}
						{% if usuario.tipo_usuario == 'externo' %}
							<td style="color: white;"> 
								<center>
									<p>Externo</p>
								</center>
							</td style="color: white;">
						{% else %}
							{% if usuario.tipo_usuario == 'consultor' %}
								<td style="color: white;"> 
									<center>
										<p>Consultor</p>
									</center>
								</td style="color: white;">
							{% else %}
								{% if usuario.tipo_usuario == 'transportista' %}
									<td style="color: white;"> 
										<center>
											<p>Transportista</p>
										</center>
									</td>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			
		{% if usuario.is_active %}
			<td style="color: white;"> 
				<center>
					<p>Activo</p>
				</center>
			</td>
		{% else %}
			<td style="color: white;"> 
				<center>
					<p>Cancelado</p>
				</center>
			</td>
		{% endif %}


		<td style="color: white;"> 
			<center>
				<a class="btn btn-primary" href="{% url 'sistema:editar_usuario' usuario.id_user %}">Asignar</a>
			</center>
		</td>

		</tr>

		{% endif %}
		{% endfor %}
		{% else %}

		<h1>No hay usuarios</h1>

		{% endif %}

	</tbody>

</table>


{% endblock %}