{% extends 'base/base_logeado.html' %}

{% block content %}

<table class="table table-bordered" style="margin-left: 5%;margin-right: 5%; width: 90%;">
	<thead>
		<tr>
			<td><center>Nombre producto</center></td>
			<td><center>Precio producto</center></td>
			<td><center>Stock</center></td>
			<td><center>Vendedor</center></td>
		</tr>
	</thead>

	<tbody>


<div align="center">
	<h1> LISTA DE PRODUCTOS</h1>
</div>
<br>

{% load static %}

		{% if productos and usuarios %}
		{% for producto in productos %}
			
		<tr>
			<td><center>{{ producto.nom_prod }}</center></td>
			<td><center>{{ producto.precio_prod }}</center></td>
			<td><center>{{ producto.stock_prod }}</center></td>

			<td><center>{{ producto.usuarios_usuarios_id_user.username }}</center></td>

		</tr>

		{% endfor %}
		{% else %}

		<h1>No hay productos</h1>

		{% endif %}

	</tbody>

</table>


{% endblock %}