{% extends 'base/base_logeado.html' %}

{% block content %}







<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">
                        <em class="fa fa-home"></em>
                    </a></li>
                <li class="active">Lista de productos</li>
            </ol>
        </div>
        <!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Lista de productos</h1>
            </div>
        </div>
        <!--/.row-->
        <div class="panel panel-default">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
							<table class="table table-bordered" >
								<thead>
									<tr>
										<th>Nombre Producto</th>
										<th>Precio Producto</th>
										<th>Stock</th>
										<th>Vendedor</th>
									</tr>
								</thead>
<!-- Se borro el if de la tabla de si hay o no prductos -->
								<tbody>
									{% load static %}
										{% for p in productos %}
											<tr>
												<td >{{ p.0 }}</td>
												<td >{{ p.1 }}</td>
												<td >{{ p.2 }}</td>
												<td >{{ p.3 }}</td>
											</tr>
										{% endfor %}
								</tbody>
							</table>
                        </div>
                    </div>
                </div>
            </div>
            	<!--/.panel-->
        </div>
            <!--/.col-->
    </div>   
    	<!--/.main-->



{% endblock %}