{% extends 'base/base_logeado.html' %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                    <em class="fa fa-home"></em>
                </a></li>
            <li class="active">Contrato</li>
        </ol>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Informacion de contrato</h1>
        </div>
    </div>
    <!--/.row-->
    <div class="panel panel-default">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                    	<table class="table table-bordered">
						{% if contra %}
							{% for contrato in contra %}
							    <div class="col-md-3">
					                <div class="row">
					                    <h4 style="padding-left: 3%; margin: 0%;">Rut</h4>
					                    <div class="form-group" style="margin-top: 1%; margin-left: 3%; margin-right: 3%;">
					                    	<input class="form-control" type="text" name="rut_person" value="{{ contrato.rut_person }}" maxlength="200" required="" id="id_descrip" disabled>
					                    </div>
					                </div>
					            </div>
					            <div class="col-md-3">
					                <div class="row">
					                    <h4 style="padding-left: 3%; margin: 0%;">Telefono</h4>
					                    <div class="form-group" style="margin-top: 1%; margin-left: 3%; margin-right: 3%;">
					                    	<input class="form-control" type="text" name="phone_contrat" value="{{ contrato.phone_contrat }}" maxlength="200" required="" id="id_phone_contrat" disabled>
					                    </div>
					                </div>
					            </div>
					            <div class="col-md-3">
					                <div class="row">
					                    <h4 style="padding-left: 3%; margin: 0%;">Fecha emitida</h4>
					                    <div class="form-group" style="margin-top: 1%; margin-left: 3%; margin-right: 3%;">
					                    	<input class="form-control" type="text" name="emision_contrat" value="{{ contrato.emision_contrat }}" maxlength="200" required="" id="id_emision_contrat" disabled>
					                    </div>
					                </div>
					            </div>
					            <div class="col-md-3">
					                <div class="row">
					                    <h4 style="padding-left: 3%; margin: 0%;">Fin del contrato</h4>
					                    <div class="form-group" style="margin-top: 1%; margin-left: 3%; margin-right: 3%;">
					                    	<input class="form-control" type="text" name="fin_contrat" value="{{ contrato.fin_contrat }}" maxlength="200" required="" id="id_fin_contrat" disabled>
					                    </div>
					                </div>
					            </div>
					            {% if contrato.estado == 0 %}
					            <div class="col-md-3">
					                <div class="row">
					                    <h4 style="padding-left: 3%; margin: 0%;">Estado</h4>
					                    <div class="form-group" style="margin-top: 1%; margin-left: 3%; margin-right: 3%;">
					                    	<input class="form-control" type="text" name="estado" value="En revision" maxlength="200" required="" id="id_estado" disabled>
					                    </div>
					                </div>
					            </div>
								{% else %}
					            <div class="col-md-3">
					                <div class="row">
					                    <h4 style="padding-left: 3%; margin: 0%;">Estado</h4>
					                    <div class="form-group" style="margin-top: 1%; margin-left: 3%; margin-right: 3%;">
					                    	<input class="form-control" type="text" name="estado" value="Aceptado" maxlength="200" required="" id="id_estado" disabled>
					                    </div>
					                </div>
					            </div>
								{% endif %}

							</center>
							{% endfor %}
						{% else %}

							<h1 style="margin-left: 5%;">Solicitar contrato</h1>
							<a class="btn btn-primary" href="{% url 'sistema:regcontr' %}" style="margin-left: 5%;">Pedir contrato</a>

						{% endif %}
                	</div>
                </div>
            </div>
        </div>
        	<!--/.panel-->
    </div>
            <!--/.col-->
</div>   
    	<!--/.main-->

{% endblock %}