{% extends 'base/base_logeado.html' %}

{% block content %}
{% csrf_token %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">
                        <em class="fa fa-home"></em>
                    </a></li>
                <li class="active">Productos</li>
            </ol>
        </div>
        <!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Agregar nuevo producto</h1>
            </div>
        </div>
        <!--/.row-->
        <div class="panel panel-default">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <center>
                            	<form method="post">
                                {% csrf_token %}
                                <h2 >Nombre</h2>
                                {{ form.nom_prod }}

                                <h2 >Precio(unidad)</h2>
                                {{ form.precio_prod }}

                                <h2 >Stock(Kg)</h2>
                                {{ form.stock_prod }}

                                <h2 >Descripcion</h2>
                                {{ form.desc_prod }}
                                <input type="text" name="usuarios_usuarios_id_user" class="form-control" required="" id="id_usuarios_usuarios_id_user" value="{{ request.user.id_user }}" style="display: none;">
                                <br>
                                <input class="btn btn-primary" type="submit" value="Agregar">
                            </form>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
                <!--/.panel-->
        </div>
            <!--/.col-->
    </div>   
        <!--/.main-->
{% endblock %}