{% extends 'base/base_logeado.html' %}




{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">
                        <em class="fa fa-home"></em>
                    </a></li>
                <li class="active">Solicitudes</li>
            </ol>
        </div>
        <!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Responder a la oferta</h1>
            </div>
        </div>
        <!--/.row-->
        <div class="panel panel-default">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
							<table class="table table-bordered">
								<br>
								<center>

									<div class="container">
										<form method="POST">
											{% csrf_token %}

											{% if transportes %}
											{% for transporte in transportes %}
											
											{% if form.transporte_id_trans.value == transporte.id_trans %}

													<h2>Transportista: {{ transporte.usuarios_usuarios_id_user.username }}</h2>
													<h2>Ofrece: {{ transporte.tip_transporte }}</h2>
													<h2>Para llevar tus productos</h2>
											{% endif %}
											{% endfor %}
											{% else %}
													<h2>no se encuentra la informacion</h2>
											{% endif %}
											<br>
											<br>
											<h2 style="display: none;">{{ form.transporte_id_trans}} </h2>
											<h2>Aceptar el transporte {{ form.estado_proceso }}</h2>
											
											{{ form.id_proc_pedido }}

										<br>
										<button class="btn btn-primary" type="submit">Guardar</button>
										</form>
									</div>
								</center>

                        </div>
                    </div>
                </div>
            </div>
            	<!--/.panel-->
        </div>
            <!--/.col-->
    </div>   
    	<!--/.main-->
{% endblock %}