{% extends 'base/base_logeado.html' %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">
                        <em class="fa fa-home"></em>
                    </a></li>
                <li class="active">Lista de productos</li>
            </ol>
        </div>
        <!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Lista de productos</h1>
            </div>
        </div>
        <!--/.row-->
        <div class="panel panel-default">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
<table class="table table-bordered">
	<thead>
		<tr>
			<td><center>Productos</center></td>
			<td><center>Cliente</center></td>
			<td><center>Vendedor</center></td>
			<td><center>Transportista</center></td>
			<td><center>Estado actual</center></td>
			<td><center>Cambiar estado</center></td>
		</tr>
	</thead>

<tbody>


{% load static %}

	{% if seguimientos %}
	{% for seguimiento in seguimientos %}

		<tr>
			<td><center>{{ seguimiento.pedido_id_ped.tipo }}</center></td>
			<td><center>{{ seguimiento.pedido_id_ped.usuarios_usuarios_id_user.username }}</center></td>
			<td><center>{{ seguimiento.pedido_id_ped.productos_id_prod.usuarios_usuarios_id_user.username }}</center></td>
			<td><center>{{ seguimiento.proces_pedido_id_proc_pedido.transporte_id_trans.usuarios_usuarios_id_user.username }}</center></td>
			<td><center>{{ seguimiento.est_seguimiento }}</center></td>
			<td><center><a class="btn btn-primary" href="{% url 'sistema:administrarseguimiento' seguimiento.id_seguimiento %}">Actualizar</a></center></td>
		</tr>

	{% endfor %}
	{% else %}

	<h1>No has solicitado seguimientos</h1>

	{% endif %}

</tbody>

</table>
                        </div>
                    </div>
                </div>
            </div>
            	<!--/.panel-->
        </div>
            <!--/.col-->
    </div>   
    	<!--/.main-->

{% endblock %}